<section class="section section-lg">
  <div class="container">
    <div class="row row-grid justify-content-center">
      <div class="col-lg-8 text-center">
        <div class="align-items-lg-center">
          <div class="d-flex px-3">
            <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
              <i class="ni ni-building text-primary"></i>
            </div>
            <div class="pl-4 text-center">
              <h4 class="display-2">Seja um Produtor</h4>
            </div>
          </div>
        </div>
        <h2 class="display-3">
          <span class="text-success">Venda você mesmo seus ingressos ou inscrições online</span>
        </h2> <p></p>
        <div class="btn-wrapper">
          <a href="https://demos.creative-tim.com/argon-design-system-angular/documentation/alerts?ref=adsa-landing-page"
            class="btn btn-info btn-icon mb-3 mb-sm-0">
            <span class="btn-inner--icon"><i class="ni ni-notification-70"></i></span>
            <span class="btn-inner--text">Criar meu Evento</span>
          </a>
          <a href="https://www.creative-tim.com/product/argon-design-system-angular?ref=adsa-landing-page"
            class="btn btn-white btn-icon mb-3 mb-sm-0">
            <span class="btn-inner--icon"><i class="ni ni-fat-add"></i></span>
            <span class="btn-inner--text">Saiba Mais</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<hr>
<section class="section section-lg">
  <div class="container">
    <div class="row row-grid align-items-center">
      <div class="col-md-6 order-md-2">
        <img src="./assets/img/theme/promo-1.png" class="img-fluid floating">
      </div>
      <div class="col-md-6 order-md-1">
        <div class="pr-md-5">
          <div style="padding-bottom: 20px;">
          <img src="./assets/img/theme/ingressolive-logo.png" alt="" height="100px" width="100px">
          </div>
          <h3> <span style="color:orange"> É RÁPIDO </span>,FÁCIL E GRÁTIS</h3>
          <ul class="list-unstyled mt-5">
            <li class="py-2">
              <div class="d-flex align-items-center">
                <div>
                  <div class="badge badge-circle badge-success mr-3">
                    <i class="ni ni-settings-gear-65"></i>
                  </div>
                </div>
                <div>
                  <h5 class="h5">Crie</h5> <p> Em minutos você cria seu evento e cadastra seus ingressos ou inscrições online para vender.</p>
                </div>
              </div>
            </li>
            <li class="py-2">
              <div class="d-flex align-items-center">
                <div>
                  <div class="badge badge-circle badge-success mr-3">
                    <i class="ni ni-html5"></i>
                  </div>
                </div>
                <div>
                  <h5 class="h5">Publique</h5>
                  <p> Depois de criado, seu evento já está com vendas liberadas pelo nosso site e aplicativo.</p>
                </div>
              </div>
            </li>
            <li class="py-2">
              <div class="d-flex align-items-center">
                <div>
                  <div class="badge badge-circle badge-success mr-3">
                    <i class="ni ni-satisfied"></i>
                  </div>
                </div>
                <div>
                  <h5 class="h5">Venda</h5>
                  <p> Divulgue, acompanhe as vendas em tempo real, e receba direto em sua conta bancária.</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
   </div>
</section>
